<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>discoveryServlet</servlet-name>
    <servlet-class>com.forsfortis.rims.server.DiscoveryServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>discoveryServlet</servlet-name>
    <url-pattern>/rims/discoveryservice</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>objectManagementServlet</servlet-name>
    <servlet-class>com.forsfortis.rims.server.ObjectManagementServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>objectManagementServlet</servlet-name>
    <url-pattern>/rims/objectmanagementservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Rims.html</welcome-file>
  </welcome-file-list>

</web-app>
